/*
     customer home page, before login
*/
$zocial-font-size: 12px;
@import "zocial";
@include zocial;

body{
    background-image: image-url("1357234889_49924.jpg");
}

#main{
    margin: 100px;
    font-family: 'Shadows Into Bold', cursive;
    ul li{
        margin-left: 0px;
        display: inline;
    }
}

