/*
     main kanban style
*/

@import "compass/css3";
@import "compass/layout";
@import "compass/typography/text/force-wrap";

html {
    height: 100%;
}
body {
    //font-family: 'Schoolbell', cursive;
    height: 100%;
    @include background-image(linear-gradient(left top, #FEDFE1, #FFF)); 
}

#kanban{
    margin: -25px 5px 5px 5px;
    width: 99%;
    //height: 100%;
    overflow: hidden;
    cursor: move;
}

#board {
    position: relative;
    border: 20px solid transparent; 
	@include border-image(image-url("border.png") 25 25 25 25  stretch stretch);
    border-width: 20px;
    #space {
		@include stretch();
		background-image: image-url("textures/lined_paper.png");
        .yellow{
            @include background-image(linear-gradient(left top, #FFF, #fefabc));                      
        }
        .pink{
            @include background-image(linear-gradient(left top, #FFF, pink));
        }
        .note {
            width: 150px;
            height: 150px;
            min-width: 150px;
            min-height: 65px;
            padding: 1px 1px 12px 1px;
            overflow:hidden;
            border-top: 1px solid #FFEBFF;
            border-left: 1px solid #FFEBFF;  
            @include box-shadow(4px 4px 6px #333);
            //@include force-wrap;
            word-wrap: break-word;
            word-break: break-all;
            h5 {
                font-family: 'Patrick Hand', cursive;
                //font-weight: bold;
                margin:0;                                          
            }
            p, textarea {
                font-family: 'Patrick Hand', cursive;
                //margin: 5px 1px 5px 1px;
                font-weight: bold;
                font-size: 1.2em;
                height: 100%;
            }
        }
        .imgnote {
            z-index: 1;
            max-width: 320px;
            // min-width: 150px;
            // min-height: 65px;
            border-top: 1px solid #FFFAFA;
            border-left: 1px solid #FFFAFA;
            padding: 1px 1px 12px 1px;
            background-color: #FFFAFA;
            @include box-shadow(8px 8px 12px #333);
            h5 {
                margin:0;                
            }        
        }
        .videonote{
            position: absolute;
            z-index: 1;
            border: 1px solid black;
            padding: 1px 1px 12px 1px;
            background-color: #FFFAFA;
            @include box-shadow(8px 8px 12px #333);
            @include rotate(5deg);
            @include background-image(linear-gradient(left top, #FFF, #fefabc));  
            padding:20px;
            #inneriframe {
                
            }    
        }
    }
    background-color: #FFF;
}

.note_tool{
    width: 100%;
    height:1.2em;
    position: absolute;
    z-index: 99999;
    bottom: 0;
    color: gray;
    .icon-remove{
        cursor: pointer;
        &:hover{
            font-size: 1.5em;
        }
    }
    .icon-resize-full{
        cursor: nw-resize;
        &:hover{
            font-size: 1.5em;
        }
    }
    li{
        list-style: none;
    }
}

#board_control {
    position: fixed;
    z-index: 99999;
    top: 70px;
    ul li {
        display: inline;
        opacity: 0.4;
        &:hover {
            cursor: pointer;
            opacity: 1;
            font-weight: bolder;
        }        
        span {
            display: none;
        }
    }    
}




#text_note_form {
    width: 95%;
    #text_note_title{
    }
    #text_note_area{
    }
}

.current_tool{
    font-size: 3em !important;
    color: black !important;
}

#post_stack_yellow {
    color: #CDCD00 !important;
}

#post_stack_pink {
    color: pink !important;
}

.form ul li{
    list-style-type: none;;
}

#container {
   min-height:100%;
   position:relative;
}

#main {
   padding-bottom:100px;
   //height:100%;
}

footer {
    position:absolute;
    bottom:0px;
    width:100%;
    height:45x;   /* Height of the footer */
    background:#000;
}

#copyright {
    position: relative;
    background: #3f3f3f; color: #fff; padding: 11px 0; margin-top: 30px; 
    p, ul.inline-list {
        margin-bottom: 0;
    }
    a {
        color: #fff;        
    }    
}

@for $i from -5 through 5 {
    .deg#{$i} { @include rotate(#{$i}deg); }
    
    img.deg#{$i}:hover {
        @include rotate(0deg);
        @include single-transition();
    }
}

#logo {
    background: image-url("logo4.png") no-repeat; 
    padding-left: 40px;
    background-size: 50px;    
}

ul.grid_kanban {
    li {
        list-style: none;
    }

    a{
        //font-family: 'Schoolbell', cursive;
        color: #888e7e;
        &:hover {
            @include text-shadow(rgba(#888e7e, 0.2) 2px 2px 0, rgba(#888e7e, 0.2) 4px 4px 0, rgba(#888e7e, 0.2) 6px 6px 0);
            color: #000;
            @include single-transition();        
        }
    }
    
}
