/*
     main kanban style
*/

@import "compass/css3";
@import "compass/layout";
@import "animate";


html {
    height: 100%;
}
body {
	overflow:auto;
    height: 100%;
}

#site_menu {
	@include background(linear-gradient(right left, #C1CDCD, #FFF));
	@include border-top-left-radius(15px);
	height: 35px;
    padding-left: 25px;
    margin: 1px 5px 0 5px;
    width: 99%;
    ul {
        margin: 0px;
        li a {
          	font-size: 1.5em;
        }
    }
    h2 {
        font-size: 2.5em;
        color: #8B8378;
        display: inline;
    }
}

#kanban{
    margin: 5px 5px 5px 5px;
    width: 99%;
    height: 93%;
    overflow:hidden;
    cursor: move;
}

#board {
    position: relative;
	@include border-image(image-url("border.png") 25 25 25 25 round round);
	border-width:20px;
    #space {
		@include stretch();
		background-image: image-url("textures/lined_paper.png");
    }
}

#board_control {
    position: fixed;
    z-index: 101;
    bottom: 5px;
    ul li {
        display: inline;
        font-size: 3em;
        &:hover {
            cursor: pointer;
            color: blak;
        }
        &#trashcan {
            margin-left: 20px;
            color: gray;     
            &:hover {
                color: gray;
                cursor: default;
            }
        }
        &#post_stack_yellow {
        }
        &#globalmove {
            color: gray;
            &:hover {
                color: black;
            }
        }
        &#black_pen {
            color: gray;
            &:hover {
                color: black;
            }
        }
        &#eraser {
            color: gray;     
            &:hover {
                color: black;
            }
        }
        span {
            display: none;
        }
    }    
}

.note {
    z-index: 999;
    cursor: move;
    word-wrap: break-word;
    width: 150px;
    height: 150px;
    //background: #fefabc;
    padding: 2px;
    overflow:hidden;
    @include box-shadow(4px 4px 6px #333); 
    h5 {
        font-family: 'Shadows Into Bold', cursive;
        font-weight: bold;
        margin:0;
    }
    p {
        font-family: 'Shadows Into Light', cursive;
        //margin: 5px 1px 5px 1px;
        font-weight: bold;
    }
}

#text_note_form {
    width: 95%;
    #text_note_title{
    }
    #text_note_area{
    }
}

#site_footer {
	height: 20px;
	width: 100%;
	text-align: center;
	margin-left: 5px;
	@include background(linear-gradient(right left, #C1CDCD, #FFF));
	@include border-bottom-left-radius(15px);
}

.current_tool{
    font-size: 4em !important;
    color: black !important;
}

#post_stack_yellow {
    color: #CDCD00 !important;
}

#post_stack_pink {
    color: pink !important;
}

#preview {

}

.formul li{
    list-style-type: none;;
}

#site_footer{
    display: none;;    
}