/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";
@import "compass/layout";

#board {
    position: relative;
    background-image: image-url("SB690_box_full.jpg");
    height: image-height("SB690_box_full.jpg")+-25 ;
    width: image-width("SB690_box_full.jpg");
    #space {
        @include stretch(50px, 80px, 65px, 65px);
    }
}

#postit {
    position: absolute;
    margin-top: (image-height("SB690_box_full.jpg")+-100);
    margin-left: image-width("SB690_box_full.jpg")/1.5;
    background-image: image-url("images-16.jpeg");
    a {
        display: block;
        height: 50px;
        width: 50px;
    }
    span {
        display: none;
    }
}

.note {
    cursor: move;
    word-wrap: break-word;
    margin: auto;
    width: 150px;
    background: yellow;
    h1 {
        font-family: 'Shadows Into Light', cursive;
        font-weight: bold;
    }
    p {
        font-family: 'Shadows Into Light', cursive;
        margin: 5px 1px 5px 1px;
    }
}

#simple-modal-overlay {
  position: fixed ;
  display: block;
  z-index: 99998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  background-position: center center;
  background-repeat: no-repeat;
  @include background(radial-gradient(circle, #ffffff, #291a49));
}

.simple-modal {
    width: 600px;
    left: 20px;
    top: 20px;
    position: absolute;
    position: fixed;
    margin: 0;
    color: #808080;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
    background-color: #FFFFFF;
    border: 1px solid #EAEEFA;
    border: 1px solid rgba(234, 238, 250, 0.6);
    z-index: 99999;
    @include border-radius(6px);
    @include box-shadow(0 0 3px rgba(0, 0, 0, 0.6));
    .simple-modal-header {
        padding: 5px 15px;
        margin: 0;
        border-bottom: 1px solid #EEEEEE;
        h1 {
            margin: 0;
            color: #404040;
            font-size: 18px;
            font-weight: bold;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            line-height: 36px;
        }
    }
    a.close {
        position: absolute;
        right: 15px;
        top: 15px;
        color: #999;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 17px;
        font-weight: normal;
        line-height: 10px;
        text-decoration: none;
        &:hover {
            color: #444;
        }
    }
    .simple-modal-body {
        padding: 15px;
        div.contents {
            overflow: hidden;
        }
        p {
            font-size: 13px;
            font-weight: normal;
            color: #606060;
            line-height: 18px;
            img {
                display: block;
                margin: 0 auto 10px auto;
            }
        }
    }
    .simple-modal-footer {
        display: block;
        background-color: #F5F5F5;
        padding: 14px 15px 15px;
        border-top: 1px solid #EEEEEE;
        zoom: 1;
        margin-bottom: 0;
        text-align: center;
        @include border-radius(6px);
        @include box-shadow(inset 0 1px 0 #FFF);
        a.btn {
            text-decoration: none;
            cursor: pointer;
            display: inline-block;
            background-repeat: no-repeat;
            padding: 5px 14px 6px;
            color: #333;
            font-size: 13px;
            line-height: normal;
            border: 1px solid transparent;
            @include border-radius(3px);
            @include single-transition(all, 0.2s, linear);
            &.primary {
                color: #FFF;
                background-color: #999;
                background-repeat: repeat-x;
                margin-right: 15px;
                @include text-shadow(0 1px 0 rgba(0, 0, 0, 0.25));
                &:hover {
                    border: 1px solid #444;
                    background-color: #444;
                }
            }
            &.secondary {
                color: #FFF;
                background-color: #999;
                background-repeat: repeat-x;
                margin-right: 15px;
                @include text-shadow(0 1px 0 rgba(0, 0, 0, 0.25));
                &:hover {
                    border: 1px solid #444;
                    background-color: #444;
                }
            }
        }
    }
    .loading {
        min-height: 60px;
        background: transparent url("loader.gif") no-repeat center center;
        div {
            display: none;
        }
    }
    .draggable {
        cursor: move;
        background-color: #f8f8f8;
        @include border-radius(6px);
    }
}


