/*
     customer home page, before login
*/
/* line 7, ../../sass/index.scss */
body {
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #fedfe1), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(left top, #fedfe1, #ffffff);
  background-image: -moz-linear-gradient(left top, #fedfe1, #ffffff);
  background-image: -o-linear-gradient(left top, #fedfe1, #ffffff);
  background-image: -ms-linear-gradient(left top, #fedfe1, #ffffff);
  background-image: linear-gradient(left top, #fedfe1, #ffffff);
}

/* line 12, ../../sass/index.scss */
#head {
  background-color: #222222;
  color: white;
}
/* line 17, ../../sass/index.scss */
#head .name {
  padding-top: 15px;
  font-family: "Schoolbell", cursive;
}

/* line 24, ../../sass/index.scss */
#banner {
  margin-top: -20px;
}
/* line 26, ../../sass/index.scss */
#banner img {
  -webkit-box-shadow: rgba(0, 0, 255, 0.4) 0 0 25px, rgba(0, 128, 0, 0.2) 0 0 3px 1px inset;
  -moz-box-shadow: rgba(0, 0, 255, 0.4) 0 0 25px, rgba(0, 128, 0, 0.2) 0 0 3px 1px inset;
  box-shadow: rgba(0, 0, 255, 0.4) 0 0 25px, rgba(0, 128, 0, 0.2) 0 0 3px 1px inset;
}
