/*
     main kanban style
*/
/* line 8, ../../sass/kanban.scss */
html {
  height: 100%;
}

/* line 11, ../../sass/kanban.scss */
body {
  height: 92%;
}

/* line 15, ../../sass/kanban.scss */
#kanban {
  margin: -25px 5px 5px 5px;
  width: 99%;
  height: 100%;
  overflow: hidden;
  cursor: move;
}

/* line 23, ../../sass/kanban.scss */
#board {
  position: relative;
  -moz-border-image: url('/public/images/border.png?1358295197') 25 25 25 25 round round;
  -webkit-border-image: url('/public/images/border.png?1358295197') 25 25 25 25 round round;
  -webkit-border-image: url('/public/images/border.png?1358295197') 25 25 25 25 round round;
  -o-border-image: url('/public/images/border.png?1358295197') 25 25 25 25 round round;
  border-image: url('/public/images/border.png?1358295197') 25 25 25 25 round round;
  border-width: 20px;
}
/* line 27, ../../sass/kanban.scss */
#board #space {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url('/public/images/textures/lined_paper.png?1358297570');
}

/* line 33, ../../sass/kanban.scss */
#board_control {
  position: fixed;
  z-index: 101;
  bottom: 5px;
}
/* line 37, ../../sass/kanban.scss */
#board_control ul li {
  display: inline;
  font-size: 3em;
}
/* line 40, ../../sass/kanban.scss */
#board_control ul li:hover {
  cursor: pointer;
  color: blak;
}
/* line 44, ../../sass/kanban.scss */
#board_control ul li#trashcan {
  margin-left: 20px;
  color: gray;
}
/* line 47, ../../sass/kanban.scss */
#board_control ul li#trashcan:hover {
  color: gray;
  cursor: default;
}
/* line 54, ../../sass/kanban.scss */
#board_control ul li#globalmove {
  color: gray;
}
/* line 56, ../../sass/kanban.scss */
#board_control ul li#globalmove:hover {
  color: black;
}
/* line 60, ../../sass/kanban.scss */
#board_control ul li#black_pen {
  color: gray;
}
/* line 62, ../../sass/kanban.scss */
#board_control ul li#black_pen:hover {
  color: black;
}
/* line 66, ../../sass/kanban.scss */
#board_control ul li#eraser {
  color: gray;
}
/* line 68, ../../sass/kanban.scss */
#board_control ul li#eraser:hover {
  color: black;
}
/* line 72, ../../sass/kanban.scss */
#board_control ul li span {
  display: none;
}

/* line 78, ../../sass/kanban.scss */
.note {
  z-index: 999;
  cursor: move;
  word-wrap: break-word;
  width: 150px;
  height: 150px;
  padding: 2px;
  overflow: hidden;
  -webkit-box-shadow: 4px 4px 6px #333333;
  -moz-box-shadow: 4px 4px 6px #333333;
  box-shadow: 4px 4px 6px #333333;
}
/* line 88, ../../sass/kanban.scss */
.note h5 {
  font-family: 'Shadows Into Bold', cursive;
  font-weight: bold;
  margin: 0;
}
/* line 93, ../../sass/kanban.scss */
.note p {
  font-family: 'Shadows Into Light', cursive;
  font-weight: bold;
}

/* line 100, ../../sass/kanban.scss */
#text_note_form {
  width: 95%;
}

/* line 108, ../../sass/kanban.scss */
.current_tool {
  font-size: 4em !important;
  color: black !important;
}

/* line 113, ../../sass/kanban.scss */
#post_stack_yellow {
  color: #CDCD00 !important;
}

/* line 117, ../../sass/kanban.scss */
#post_stack_pink {
  color: pink !important;
}

/* line 121, ../../sass/kanban.scss */
.form ul li {
  list-style-type: none;
}

/* line 125, ../../sass/kanban.scss */
a.template img {
  border: none;
}

/* line 129, ../../sass/kanban.scss */
a.template:hover img {
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  transform: rotate(3deg);
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s false;
}

/* line 134, ../../sass/kanban.scss */
.footer {
  height: 100px;
  width: 99%;
  text-align: center;
  margin-left: 5px;
  margin-top: 50px;
  background: -webkit-gradient(linear, 0% 100%, 100% 0%, color-stop(0%, #c1cdcd), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(right left, #c1cdcd, #ffffff);
  background: -moz-linear-gradient(right left, #c1cdcd, #ffffff);
  background: -o-linear-gradient(right left, #c1cdcd, #ffffff);
  background: -ms-linear-gradient(right left, #c1cdcd, #ffffff);
  background: linear-gradient(right left, #c1cdcd, #ffffff);
  -moz-border-radius-bottomleft: 15px;
  -webkit-border-bottom-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

/* line 144, ../../sass/kanban.scss */
#copyright {
  background: #3f3f3f;
  color: #fff;
  padding: 11px 0;
  margin-top: 30px;
}
/* line 146, ../../sass/kanban.scss */
#copyright p, #copyright ul.inline-list {
  margin-bottom: 0;
}
/* line 149, ../../sass/kanban.scss */
#copyright a {
  color: #fff;
}
