/*
     main kanban style
*/
/* line 9, ../../sass/kanban.scss */
body {
  overflow: hidden;
  height: 100%;
}

/* line 14, ../../sass/kanban.scss */
html {
  overflow: hidden;
  height: 100%;
}

/* line 19, ../../sass/kanban.scss */
#site_menu {
  background: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #c1cdcd), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(top left, #c1cdcd, #ffffff);
  background: -moz-linear-gradient(top left, #c1cdcd, #ffffff);
  background: -o-linear-gradient(top left, #c1cdcd, #ffffff);
  background: -ms-linear-gradient(top left, #c1cdcd, #ffffff);
  background: linear-gradient(top left, #c1cdcd, #ffffff);
  -moz-border-radius-topleft: 25px;
  -webkit-border-top-left-radius: 25px;
  border-top-left-radius: 25px;
  height: 35px;
  padding-left: 25px;
  margin: 1px 5px 0 5px;
  width: 99%;
}
/* line 26, ../../sass/kanban.scss */
#site_menu ul {
  margin: 0px;
}
/* line 28, ../../sass/kanban.scss */
#site_menu ul li {
  display: inline;
}
/* line 30, ../../sass/kanban.scss */
#site_menu ul li a {
  font-size: 1.5em;
}

/* line 37, ../../sass/kanban.scss */
#kanban {
  margin: 5px 5px 5px 5px;
  width: 99%;
  height: 94%;
  overflow: hidden;
  cursor: move;
}

/* line 45, ../../sass/kanban.scss */
#board {
  position: relative;
  -moz-border-image: url('/public/images/border.png?1358345144') 25 25 25 25 round round;
  -webkit-border-image: url('/public/images/border.png?1358345144') 25 25 25 25 round round;
  -webkit-border-image: url('/public/images/border.png?1358345144') 25 25 25 25 round round;
  -o-border-image: url('/public/images/border.png?1358345144') 25 25 25 25 round round;
  border-image: url('/public/images/border.png?1358345144') 25 25 25 25 round round;
  border-width: 20px;
}
/* line 49, ../../sass/kanban.scss */
#board #space {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url('/public/images/textures/lined_paper.png?1358345144');
}

/* line 55, ../../sass/kanban.scss */
#trashcan {
  position: fixed;
  bottom: 25px;
  left: 250px;
  font-size: 3em;
}

/* line 62, ../../sass/kanban.scss */
#board_control {
  position: fixed;
  z-index: 101;
  bottom: 25px;
}
/* line 66, ../../sass/kanban.scss */
#board_control a {
  display: block;
  float: right;
}
/* line 69, ../../sass/kanban.scss */
#board_control a#post_stack_yellow {
  background-image: url('/public/images/297352.jpg?1357737744');
  height: 50px;
  width: 50px;
}
/* line 73, ../../sass/kanban.scss */
#board_control a#post_stack_yellow span {
  display: none;
}
/* line 77, ../../sass/kanban.scss */
#board_control a#post_stack_pink {
  background-image: url('/public/images/51tj3dkukJL._SL75_SS50_.jpg?1357737744');
  height: 50px;
  width: 50px;
}
/* line 81, ../../sass/kanban.scss */
#board_control a#post_stack_pink span {
  display: none;
}
/* line 85, ../../sass/kanban.scss */
#board_control a#black_pen {
  background-image: url('/public/images/rBEDik_xR_IIAAAAAADkfYPLXFkAADluQOmzsYAAOSV253.jpg?1357737744');
  height: 50px;
  width: 50px;
}
/* line 89, ../../sass/kanban.scss */
#board_control a#black_pen span {
  display: none;
}
/* line 93, ../../sass/kanban.scss */
#board_control a#eraser {
  background-image: url('/public/images/41b20q-NztL._SL75_SS50_.jpg?1357737744');
  height: 50px;
  width: 50px;
}
/* line 97, ../../sass/kanban.scss */
#board_control a#eraser span {
  display: none;
}

/* line 104, ../../sass/kanban.scss */
.note {
  z-index: 999;
  cursor: move;
  word-wrap: break-word;
  margin: auto;
  width: 150px;
  background: yellow;
}
/* line 111, ../../sass/kanban.scss */
.note h5 {
  font-family: "Shadows Into Bold", cursive;
  font-weight: bold;
}
/* line 115, ../../sass/kanban.scss */
.note p {
  font-family: "Shadows Into Light", cursive;
  margin: 5px 1px 5px 1px;
  font-weight: bold;
}

/* line 123, ../../sass/kanban.scss */
#text_note_form {
  width: 95%;
}
