/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, C:/RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 10, ../../sass/screen.scss */
#board {
  position: relative;
  background-image: url('/public/images/SB690_box_full.jpg?1356320109');
  height: 759px;
  width: 1298px;
}
/* line 15, ../../sass/screen.scss */
#board #space {
  position: absolute;
  top: 50px;
  bottom: 65px;
  left: 65px;
  right: 80px;
}

/* line 20, ../../sass/screen.scss */
#postit {
  position: absolute;
  margin-top: 684px;
  margin-left: 865.33333px;
  background-image: url('/public/images/images-16.jpeg?1356337829');
}
/* line 25, ../../sass/screen.scss */
#postit a {
  display: block;
  height: 50px;
  width: 50px;
}
/* line 30, ../../sass/screen.scss */
#postit span {
  display: none;
}

/* line 35, ../../sass/screen.scss */
.note {
  cursor: move;
  word-wrap: break-word;
  margin: auto;
  width: 150px;
  background: yellow;
}
/* line 41, ../../sass/screen.scss */
.note h1 {
  font-family: 'Shadows Into Light', cursive;
  font-weight: bold;
}
/* line 45, ../../sass/screen.scss */
.note p {
  font-family: 'Shadows Into Light', cursive;
  margin: 5px 1px 5px 1px;
}

/* line 51, ../../sass/screen.scss */
#simple-modal-overlay {
  position: fixed;
  display: block;
  z-index: 99998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  background-position: center center;
  background-repeat: no-repeat;
  background: -webkit-gradient(radial, circle, 0, circle, 100, color-stop(0%, #ffffff), color-stop(100%, #291a49));
  background: -webkit-radial-gradient(circle, #ffffff, #291a49);
  background: -moz-radial-gradient(circle, #ffffff, #291a49);
  background: -o-radial-gradient(circle, #ffffff, #291a49);
  background: radial-gradient(circle, #ffffff, #291a49);
}

/* line 65, ../../sass/screen.scss */
.simple-modal {
  width: 600px;
  left: 20px;
  top: 20px;
  position: absolute;
  position: fixed;
  margin: 0;
  color: #808080;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
  background-color: #FFFFFF;
  border: 1px solid #EAEEFA;
  border: 1px solid rgba(234, 238, 250, 0.6);
  z-index: 99999;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
}
/* line 83, ../../sass/screen.scss */
.simple-modal .simple-modal-header {
  padding: 5px 15px;
  margin: 0;
  border-bottom: 1px solid #EEEEEE;
}
/* line 87, ../../sass/screen.scss */
.simple-modal .simple-modal-header h1 {
  margin: 0;
  color: #404040;
  font-size: 18px;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 36px;
}
/* line 96, ../../sass/screen.scss */
.simple-modal a.close {
  position: absolute;
  right: 15px;
  top: 15px;
  color: #999;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 17px;
  font-weight: normal;
  line-height: 10px;
  text-decoration: none;
}
/* line 106, ../../sass/screen.scss */
.simple-modal a.close:hover {
  color: #444;
}
/* line 110, ../../sass/screen.scss */
.simple-modal .simple-modal-body {
  padding: 15px;
}
/* line 112, ../../sass/screen.scss */
.simple-modal .simple-modal-body div.contents {
  overflow: hidden;
}
/* line 115, ../../sass/screen.scss */
.simple-modal .simple-modal-body p {
  font-size: 13px;
  font-weight: normal;
  color: #606060;
  line-height: 18px;
}
/* line 120, ../../sass/screen.scss */
.simple-modal .simple-modal-body p img {
  display: block;
  margin: 0 auto 10px auto;
}
/* line 126, ../../sass/screen.scss */
.simple-modal .simple-modal-footer {
  display: block;
  background-color: #F5F5F5;
  padding: 14px 15px 15px;
  border-top: 1px solid #EEEEEE;
  zoom: 1;
  margin-bottom: 0;
  text-align: center;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: inset 0 1px 0 white;
  -moz-box-shadow: inset 0 1px 0 white;
  box-shadow: inset 0 1px 0 white;
}
/* line 136, ../../sass/screen.scss */
.simple-modal .simple-modal-footer a.btn {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  background-repeat: no-repeat;
  padding: 5px 14px 6px;
  color: #333;
  font-size: 13px;
  line-height: normal;
  border: 1px solid transparent;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
/* line 148, ../../sass/screen.scss */
.simple-modal .simple-modal-footer a.btn.primary {
  color: #FFF;
  background-color: #999;
  background-repeat: repeat-x;
  margin-right: 15px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}
/* line 154, ../../sass/screen.scss */
.simple-modal .simple-modal-footer a.btn.primary:hover {
  border: 1px solid #444;
  background-color: #444;
}
/* line 159, ../../sass/screen.scss */
.simple-modal .simple-modal-footer a.btn.secondary {
  color: #FFF;
  background-color: #999;
  background-repeat: repeat-x;
  margin-right: 15px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}
/* line 165, ../../sass/screen.scss */
.simple-modal .simple-modal-footer a.btn.secondary:hover {
  border: 1px solid #444;
  background-color: #444;
}
/* line 172, ../../sass/screen.scss */
.simple-modal .loading {
  min-height: 60px;
  background: transparent url("loader.gif") no-repeat center center;
}
/* line 175, ../../sass/screen.scss */
.simple-modal .loading div {
  display: none;
}
/* line 179, ../../sass/screen.scss */
.simple-modal .draggable {
  cursor: move;
  background-color: #f8f8f8;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}
