#{extends 'main.html' /}
#{set title:'Edit Kanban' /}

<div class="row">
	<div class="ten columns centered">
		<h3 class="subheader">Edit Kanban: ${kanban.name}</h3>
	</div>
</div>

<div class="row">
    <div class="ten columns centered">
		<form id="" action="/kanbans/${kanban.id}/edit" method="POST">
			<input type="hidden" name="id" value="${kanban.id}"/>
			<fieldset>
			    <legend>You are editing kanban [${kanban.name}]</legend>
			    <label>Name: </label>
			    <input type="text" name="name" placeholder="kanban name" value="${kanban.name}" class="six" maxlength="50"/>
			    <label for="_private"><input type="radio" #{if kanban.access==0}CHECKED#{/if} id="_private" name="access" value="0"> Private (only you and shared)</label>
			    <label for="_read"><input type="radio" #{if kanban.access==1}CHECKED#{/if} id="_read" name="access" value="1"> Public (read only) </label>
			    <label for="_write"><input type="radio" #{if kanban.access==2}CHECKED#{/if} id="_write" name="access" value="2"> Public (full control) </label>
			    <label>--</label>
			    <input type="submit" value="OK" class="small button"/> <a href="/kanbans" class="small secondary button">Cancel<a/>
		    </fieldset>
		</form>
	</div>
</div>