#{extends 'main.html' /}
#{set title:'Edit Kanban' /}

<div class="row">
	<div class="ten columns centered">
		<h3 class="subheader">Edit Kanban:</h3>
	</div>
</div>

<div class="row">
    <div class="ten columns centered">
		<form id="" action="/kanbans/${kanban.id}/edit" method="POST">
			<input type="hidden" name="id" value="${kanban.id}"/>
			<fieldset>
			    <legend>You are editing kanban [${kanban.name}]</legend>
			    <label>Name: </label>
			    <input type="text" name="name" placeholder="kanban name" value="${kanban.name}" class="six"/>
			    <label for="public"><input type="checkbox" CHECKED id="public" name="public"> Public</label>
			    <input type="submit" value="OK" class="small button"/>
		    </fieldset>
		</form>
	</div>
</div>