#{extends 'main.html' /}

<form id="" action="/kanbans" method="POST" class="custom">
	<div class="row">
		<div class="six columns">
			<fieldset>
			    <legend>Create New Kanban</legend>
			    
			    #{ifErrors}
 					#{errors}
				    <div class="alert-box alert round">
 						${error}<a href="" class="close">&times;</a>
					</div>
				   	#{/errors}
				#{/ifErrors}
				
				<label>Title:</label>
			    <input type="text" name="name" placeholder="kanban name" required/>
			    
			    <label>Goal:</label>
			    <textarea name="goal" maxlength="140" rows="3" placeholder=""></textarea>
			    
			    <label>Workflow:</label>
			    <label><input name="workflow" type="radio" value="1" CHECKED/> Todo -> Done </label>
			    <label><input name="workflow" type="radio" value="2"/> Todo -> In Progress -> Done </label>
			    <label><input name="workflow" type="radio" value="3"/> Show [Title] </label>
			    <label><input name="workflow" type="radio" value="4"/> Customize <input type="text" name="workflow_customize" value=""/></label>

			    <label>Size:</label>
	  			<select name="size">
				  <option value="1">Small</option>
				  <option value="2" selected>Medium</option>
				  <option value="3">Large</option>
				</select>

				<input type="submit" class="tiny radius button" value="OK"/>
				
		    </fieldset>
		</div>
		<div class="six columns">
			<fieldset>
			    <legend>HELP!</legend>
			</fieldset>
		</div>
	</div>
</form>
