#{extends 'main.html' /}


<div class="row">
	<h3 class="subheader">Choose Kanban Template:</h3>
</div>

<div class="row">
	#{ifErrors}
		#{errors}
	    <div class="alert-box alert round">
				${error}<a href="" class="close">&times;</a>
		</div>
	   	#{/errors}
	#{/ifErrors}
</div>

<div class="row template">
	<div class="four columns">
		<div class="row">
			<a class="template" href="javascript:flow('Todo,In Progress,Done');"><img src="/public/images/tiny01.png"></a>
		</div>
		<div class="row">
			<a class="template" href="javascript:flow('Todo,Done');"><img src="/public/images/tiny02.png"></a>
		</div>
	</div>
	<div class="eight columns">
		<a class="template" href="javascript:flow('Backlog,Development,Test,Deploy,Done');"><img src="/public/images/small.png"></a>
	</div>
</div>

<div class="row template">
	<div class="four columns">
		<div class="row">
			<a class="template" href="javascript:flow('留言板');"><img src="/public/images/tiny03.png"></a>
		</div>
		<div class="row">
			<a class="template" href="javascript:flow('Message Board');"><img src="/public/images/tiny04.png"></a>
		</div>
	</div>
	<div class="eight columns">
		<a class="template" href="javascript:flow('Requirements,Design,Implementation,Verification,Maintenance');"><img src="/public/images/small02.png"></a>
	</div>
</div>

<div style="display:none">
	<form id="kform" action="/kanbans" method="POST" class="custom">
		<input type="text" name="workflow_customize" id="workflow_customize" value=""/>
		<input type="text" name="size" id="size" value=""/>
		<input type="text" name="name" id="name" value=""/>
	</form>
</div>

<script type="text/javascript">
	Mooml.register('kanban_create_tmpl', function()
	{
		label(
			input({
				'type': 'text',
				'id': 'kname',
				'placeholder': '- Input Kanban Name Here -'
			})
		);
	});

	function flow(f)
	{
		var sm = new SimpleModal();
		sm.addButton("Large", "btn primary", function(){
			$('name').set('value', $('kname').value);
			$('size').set('value', 3);
			$('workflow_customize').set('value', f);
			$('kform').submit();
			this.hide();
		});
		sm.addButton("Medium", "btn primary", function(){
			$('name').set('value', $('kname').value);
			$('size').set('value', 2);
			$('workflow_customize').set('value', f);
			$('kform').submit();
			this.hide();
		}); 
		sm.addButton("Small", "btn primary", function(){
			$('name').set('value', $('kname').value);
			$('size').set('value', 1);
			$('workflow_customize').set('value', f);
			$('kform').submit();
			this.hide();
		}); 
		sm.show({
	        "model":"modal",
	        "title": "Kanban Name and Size",
	        "contents": Mooml.render('kanban_create_tmpl').get('html')
	    }); 
	}
</script>