#{extends 'main.html' /}
#{set title:'My Kanban' /}

<div class="row">
    <div class="ten columns centered">
        <h3>Welcome - ${user.displayName}</h3>
    </div>
</div>

<div class="row">
    <div class="ten columns centered">
        <ul class="grid_kanban">
        #{list items:kanbans.kanban, as:'k'}
            <li>
            <div class="alert-box secondary">
            	<h4>
                    <a href="/kanbans/${k.id}/edit" class="icon-wrench" title="EDIT"></a> 
                    <a href="/kanbans/${k.id}/share" class="icon-share-alt" title="SHARE"></a> 
                    <a href="/kanbans/${k.id}">${k.name}</a>                    
                </h4>
                <a href="javascript:deleteKanban(${k.id}, '${k.name}')" class="close">X</a>
            </div>
            </li>
        #{/list}
            <li>
                <div class="alert-box secondary">
                  <h4><a href="/kanbans/new"><i class="icon-plus"></i>Create New Kanban</a></h4>
                </div>
            </li>
        </ul>
    </div>
</div>


<script type="text/javascript">

    function deleteKanban(kid, kname)
    {
        var SM = new SimpleModal();
        SM.addButton("Yes", "btn primary", function(){
            new Delete("/kanbans").action(kid);
            this.hide();
        });
        SM.addButton("No", "btn");
        SM.show({
            "model": "modal",
            "title": "Delete Kanban [ "+kname+" ]",
            "contents": "Are you sure ?",
        });
    }

</script>