#{extends 'main.html' /}

<div class="row">
    <h3>Kanban List</h3>
    <ul>
    #{list items:kanbans.kanban, as:'k'}
        <li>
        	<a href="/kanbans/${k.id}" class="small button">${k.name}</a>
        	<a href="/kanbans/${k.id}/share" class="small button">Share ${k.name}</a>
        	<input type="button"  class="small button" value="delete ${k.name}" onclick="deleteKanban(${k.id})"/>
        </li>
    #{/list}
    </ul>
</div>

<div class="row">
    <a href="/kanbans/new"><span>new kanban</span></a>
</div>

<script type="text/javascript">

    function deleteKanban(kid)
    {
        new Delete('/kanbans').action(kid);
    }

</script>