#{extends 'main.html' /}

<div id="kanban">
    <div id="board">
        <div id="space">
            <canvas id="mycanvas"></canvas>
            <div class="trashcan"></div>
        </div>
        <div id="board_control" >
            <a id="post_stack_yellow" href="javascript:"><span>yellow post</span></a>
            <a id="post_stack_pink" href="javascript:"><span>pink post</span></a>
            <a id="black_pen" href="javascript:"><span>pen</span></a>
            <a id="eraser" href="javascript:"><span>eraser</span></a>
        </div>
    </div>
</div>



<script type="text/javascript">

    window.addEvent('domready', function()
    {
    	#{if offline}KanbanApp.offline=true;#{/if}
        var kanban = new Kanban('space','${id}',{width: 1366, height: 768});
        kanban.load();//load notes & back;
        kanban.addStack('post_stack_yellow');
        kanban.addStack('post_stack_pink');
        kanban.addPen('black_pen');
		kanban.addEraser('eraser');
    });

</script>