#{extends '_kanban.html' /}
#{set title:'EasyKanban' /}

<div id="kanban">
    <div id="board">
        <div id="space"><canvas id="mycanvas"></canvas></div>
        <div id="board_control" >
        	<ul>
        	<li id="post_stack_yellow" class="icon-edit icon-2x"><span>yellow post</span></li>
            <li id="post_stack_pink" class="icon-edit icon-2x"><span>pink post</span></li>
        	<li id="black_pen" class="icon-pencil icon-2x"><span>pen</span></li>
        	<li id="eraser" class="icon-check-empty icon-2x"><span>eraser</span></li>
            <li id="globalmove" class="icon-move icon-2x"><span>move</span></li>
            <li id="url_stack" class="icon-camera icon-2x"><span>move</span></li>
            <li id="trashcan" class="icon-trash icon-3x"><span>trash</span></li>
        	</ul>
        </div>
    </div>
</div>


<script type="text/javascript">

    window.addEvent('domready', function()
    {
    	#{if offline}KanbanApp.offline=true;#{/if}
        var kanban = new Kanban('space','${kanban.id}',{#{if isNew}isNew: true,#{/if}board:'board', width: ${kanban.board.width}, height: ${kanban.board.height}});
        kanban.load();
        kanban.addStack('post_stack_yellow','#fefabc');
        kanban.addStack('post_stack_pink','pink');
        kanban.addPen('black_pen');
		kanban.addEraser('eraser');
        kanban.addMover('globalmove');
        kanban.addUrlStack('url_stack');
        // kanban.addUploader('uploader');

        resizeKanban();
        window.addEvent('resize', resizeKanban);

    });

    function resizeKanban()
    {
        //console.log($(document.body).getStyle('height'));
        var reheight = $(document.body).getStyle('height').toInt()-60;
        $('kanban').setStyle('height', reheight+'px');

        //console.log($('board_control').getPosition());
        if($('board_control').getPosition().y > ${kanban.board.height}-30)
            $('board_control').setPosition({y: ${kanban.board.height}-30});
    }

</script>