#{extends 'main.html' /}

<div id="kanban">
    <div id="board">
        <div id="space"><canvas id="mycanvas"></canvas></div>
        <div id="board_control" >
        	<ul>
        	<li id="post_stack_yellow" class="foundicon-add-doc"><span>yellow post</span></li>
        	<li id="black_pen" class="foundicon-edit"><span>pen</span></li>
        	<li id="eraser" class="foundicon-remove"><span>eraser</span></li>
            <li id="globalmove" class="foundicon-globe"><span>move</span></li>
            <li id="trashcan" class="foundicon-trash"></li>
        	</ul>
        </div>
    </div>
</div>



<script type="text/javascript">

    window.addEvent('domready', function()
    {
    	#{if offline}KanbanApp.offline=true;#{/if}
        var kanban = new Kanban('space','${kanban.id}',{board:'board', width: ${kanban.board.width}, height: ${kanban.board.height}});
        kanban.load();
        kanban.addStack('post_stack_yellow');
        kanban.addPen('black_pen');
		kanban.addEraser('eraser');
        kanban.addMover('globalmove');

		

    });

</script>