#{extends '_welcome.html'/}
#{set title:'Sing in' /}

<div class="row">
    <div class="page-header">
        <h1>&{'securesocial.login'}</h1>
    </div>

    #{if flash.error}
    <div class="alert-box alert">
        ${flash.error}        
    </div>
    #{/if}

    <div class="row">
        <p>&{'securesocial.clickOnYourAccount'}</p>
        <p><a class="zocial googleplus" href="/auth/googleopenid"><span>Sign in with Google</span></a></p>
        <p><a class="zocial facebook" href="/auth/facebook"><span>Sign in with Facebook</span></a></p>
        <div class="alert-box secondary">
            We don't use your facebook account information. This is used for login authentication purpose only.
        </div>
    </div>
</div>

