#{extends 'main.html' /}
<div id="kanban">

    <div id="board">

        <div id="space"><canvas id="mycanvas"></canvas></div>

        <div id="board_control">
            <a id="post_stack" href="javascript:"><span>new post</span></a>
        </div>

    </div>

</div>

<script type="text/javascript">

    window.addEvent('domready', function()
    {
        var kanban = new Kanban('space','kid');
        kanban.load();//load notes
        kanban.addStack('post_stack');

		/*
		var stage = new createjs.Stage("mycanvas");
		var circle = new createjs.Shape();
		circle.graphics.beginFill("red").drawCircle(0, 0, 50);
		circle.x = 100;
		circle.y = 100;
		stage.addChild(circle);
		stage.update();

		init();
		*/
    });

	/*
    var stage;
    var isMouseDown;
    var currentShape;
    var oldMidX, oldMidY, oldX, oldY;
    var txt;

    function init() {
        var canvas = document.getElementById("mycanvas");
        console.log($('space').getSize());
        canvas.width  = $('space').getSize().x;
        canvas.height = $('space').getSize().y;

        stage = new createjs.Stage(canvas);
        stage.autoClear = true;
        stage.onMouseDown = handleMouseDown;
        stage.onMouseUp = handleMouseUp;

		createjs.Touch.enable(stage);

        stage.addChild(txt);
        stage.update();
		createjs.Ticker.addListener(window);
    }

    function stop() {
		//createjs.Ticker.removeListener(window);
    }

    function tick() {
        if (isMouseDown) {
            var pt = new createjs.Point(stage.mouseX, stage.mouseY);
            var midPoint = new createjs.Point(oldX + pt.x>>1, oldY+pt.y>>1);
            currentShape.graphics.moveTo(midPoint.x, midPoint.y);
            currentShape.graphics.curveTo(oldX, oldY, oldMidX, oldMidY);

            oldX = pt.x;
            oldY = pt.y;

            oldMidX = midPoint.x;
            oldMidY = midPoint.y;

            stage.update();
        }
    }

    function handleMouseDown() {
        isMouseDown = true;
        stage.removeChild(txt);

        var s = new createjs.Shape();
        oldX = stage.mouseX;
        oldY = stage.mouseY;
        oldMidX = stage.mouseX;
        oldMidY = stage.mouseY;
        var g = s.graphics;
        var thickness = 5;
        g.setStrokeStyle(thickness + 1, 'round', 'round');
        var color = createjs.Graphics.getRGB(0, 0, 0);
        g.beginStroke(color);
        stage.addChild(s);
        currentShape = s;
    }

    function handleMouseUp() {
        isMouseDown = false;
    }
    */
</script>