#{extends 'main.html' /}
<div id="kanban">

    <div id="board">
        
        <div id="space">
            
            <div class="note">
	            <h1>10K</h1>
	            <p>WaHaHaHaHaHaHaWaHaHaHaHaHaHaWaHaHaHaHaHaHaWaHaHaHaHaHaHa</p>
	        </div>
	        
        </div><!--end of space-->

        <div id="postit">
            <a id="postlink" href="javascript:"><span>new post</span></a>
        </div>
    
    </div><!--end of board-->

</div><!--end of kanban-->

<script type="text/javascript">

    var k = new Kanban('board');
    var postit = new Postit();

    function tear()
    {
        alert('new sticky');
    }
    
    window.addEvent('domready', function(){
	    $$('#kanban .note').each(function(drag){
            //draggable notes
            new Drag.Move(drag,{
                container : 'space'
            });
            
            //tear
            $("postlink").addEvent("click", function(){
                var sm = new SimpleModal({"btn_ok":"post it"});
                sm.addButton("Action button", "btn primary", function(){
                    alert($('notetitle').value);
                    this.hide();
                });
                sm.addButton("Cancel", "btn secondary");
                sm.show({
                    "model":"modal",
                    "title":"Title",
                    "contents":"<div id=\"textnoteed\">Title<input type=\"text\" name=\"notetitle\" id=\"notetitle\" value=\"\"/></div>"
                }); 
            });
        });
    });
    
</script>