#{extends '_welcome.html' /} 
#{set title:'Welcome' /}


<div id="main">
    <h1>Under Contruction</h1>
    <p>
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.easykanban.com" data-text="I Like EasyKanban" data-hashtags="easykanban">Tweet</a>
        <div class="g-plusone" data-size="medium" data-href="http://www.easykanban.com" style="display:inline"></div>
    </p>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>


<div class='z-buttons'>
              <h2>Icons + text</h2>
              <ul>
                <li>
                  <a class='zocial twitter' href='http://twitter.com/ZocialButtons'>
                    <span>Follow us on Twitter</span>
                  </a>
                </li>
                <li>
                  <a class='zocial facebook' href='#'>
                    <span>Find us on Facebook</span>
                  </a>
                </li>
                <li>
                  <a class='zocial googleplus' href='#'>
                    <span>Connect on Google+</span>
                  </a>
                </li>
                <li>
                  <a class='zocial github' href='https://github.com/adamstac/zocial'>
                    <span>Fork this on Github</span>
                  </a>
                </li>
                <li>
                  <a class='zocial rss' href='http://thesassway.com/'>
                    <span>Read The Sass Way</span>
                  </a>
                </li>
                <li>
                  <a class='zocial smashingmag' href='http://www.smashingmagazine.com/'>
                    <span>Read Smashing Magazine</span>
                  </a>
                </li>
              </ul>
            </div>

<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>