#{extends '_welcome.html' /}
#{set title:'Welcome to EasyKanban' /}

<div class="row" id="banner">
	<div class="twelve columns">
		<img src="/public/images/kanban_dev2.png"/>
	</div>
	<div id="social" style="">
		<ul>
		    <li><a class="zocial googleplus" href="/auth/googleopenid"><span>Sign in with Google</span></a></li>
		    <li><a class="zocial facebook" href="/auth/facebook"><span>Sign in with Facebook</span></a></li>
		    <li><a class="second radius small button" href="/tryit"><span>Try it</span></a></li>
	    </ul>
	</div>
</div>

<div class="row">
	<div class="two columns offset-by-ten">
	    <ul class="block-grid two-up">
		    <li><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.easykanban.com" data-text="I Like EasyKanban" data-hashtags="easykanban" >Tweet</a></li>
		    <li class="fb-like" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false" data-font="arial"></li>
	    </ul>
	</div>
</div>

<div class="row">
  <div class="six columns">
    <div class="panel radius">
      <h4><i class="icon-edit"></i>Note.&nbsp;<i class="icon-camera"></i>Image.</h4>
      <h5>Beauty of simplicity.</h5>
      <p>Post notes and images on whatever you thought to Kanban. Use it as a traditional kanban to facilitate your projects, or simply start a personal project. It can never be this simple.</p>
    </div>
  </div>
  <div class="six columns">
    <div class="panel radius">
      <h4>Built-in Kanban Templates.</h4>
      <h5>Easy to adopt with templates.</h5>
      <p>A new way to use Kanban.  Allow you to create Kanban efficiently with built-in templates.</p>
    </div>
  </div>
</div>

<div class="row" style="display:none" id="testb">
  <div class="alert-box secondary" style="text-align:center">
    You are using a web browser we don't support. Please download <a class="secondary medium radius button" href="https://www.google.com/intl/zh-TW/chrome/">Google Chrome.</a>
    <a href="" class="close">&times;</a>
  </div>
</div>

<script type="text/javascript">!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<!-- Included JS Files (Compressed) -->
<script src="/public/javascripts/foundation/jquery.js"></script>
<script src="/public/javascripts/foundation/foundation.min.js"></script>

<!-- Initialize JS Plugins -->
<script src="/public/javascripts/foundation/app.js"></script>

<script>
$(window).load(function(){
  //$("#featured").orbit();
  var ua = navigator.userAgent.toLowerCase();
  var UA = ua.match(/(opera|ie|firefox|chrome|version)[\s\/:]([\w\d\.]+)?.*?(safari|version[\s\/:]([\w\d\.]+)|$)/) || [null, 'unknown', 0];
  console.log(UA);
  if (!(UA[3]=='safari' || UA[3]=='chrome'))
    $('#testb').fadeIn();
  
});
</script> 

<div id="fb-root"></div>
<script>(function(d, s, id) {
var js, fjs = d.getElementsByTagName(s)[0];
if (d.getElementById(id)) return;
js = d.createElement(s); js.id = id;
js.src = "//connect.facebook.net/zh_TW/all.js#xfbml=1&appId=326031667505182";
fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
