<footer>
  <div id="copyright">
    <div class="row">
      <div class="four columns">
        <p>&copy; 2013 easykanban.com</p>
      </div>
      <div class="eight columns">
        <ul class="inline-list right">
          <li><a href="https://github.com/isfeng/easykanban" target="_blank"><i class="icon-github-alt"></i>github</a></li>
          <li><a href="mailto:ichikanban@gmail.com"><i class="icon-envelope"></i>contact</a></li>
          <li><a href="/about">About</a></li>
        </ul>
      </div>
    </div>
    <div class="row">

    </div>
  </div>
</footer>