
<title>#{get 'title' /}</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="EasyKanban is a fun, easy and inspiring tool as traditional Kanban. You can share Kanban with your family, friends just like the way it is!" />
<meta name="google" content="notranslate" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" href="@{'/public/stylesheets/app.css'}" type="text/css" media="screen, projection">
<link rel="stylesheet" href="@{'/public/stylesheets/kanban.css'}" type="text/css" media="screen, projection">
<link rel="stylesheet" href="@{'/public/stylesheets/simplemodal.css'}" type="text/css" media="screen, projection">
<link rel="stylesheet" href="@{'/public/stylesheets/css/font-awesome.min.css'}" type="text/css" media="screen, projection">
<script src="@{'/public/javascripts/mootools-core.js'}" type="text/javascript" charset="UTF-8"></script>
<script src="@{'/public/javascripts/mootools-more.js'}" type="text/javascript" charset="UTF-8"></script>
<script src="@{'/public/javascripts/mooml.js'}" type="text/javascript" charset="UTF-8"></script>
<script src="@{'/public/javascripts/easeljs-0.5.0.min.js'}" type="text/javascript" charset="UTF-8"></script>
#{press.script 'kanban.js'/}
#{press.compressed-script/}
<script src="@{'/public/javascripts/util.js'}" type="text/javascript" charset="UTF-8"></script>
<script src="@{'/public/javascripts/simple-modal.js'}" type="text/javascript" charset="UTF-8"></script>
<link rel="icon" href="@{'/public/images/logo4.png'}" type="image/x-icon" />
<link href='http://fonts.googleapis.com/css?family=Patrick+Hand' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Joti+One' rel='stylesheet' type='text/css'>
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->