<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
    <title>#{get 'title' /}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="EasyKanban is a fun, easy and inspiring tool as traditional Kanban. You can share Kanban with your family, friends just like the way it is!" />
    <meta name="google" content="notranslate" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="public/stylesheets/app.css">
    <link rel="stylesheet" href="@{'/public/stylesheets/kanban.css'}" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="@{'/public/stylesheets/css/font-awesome.min.css'}" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="public/stylesheets/index.css">
    <script src="public/javascripts/foundation/modernizr.foundation.js"></script>
    <link rel="icon" href="@{'/public/images/logo4.png'}" type="image/x-icon" />
</head>
<body>
  <div id="container">
    #{include '_nav.html' /}

    <div id="main">
    #{doLayout /}
    </div>
    
    #{include '_footer.html' /}

  </div>

  #{include '_analytics.html' /}

</body>
</html>
