<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>teamT</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="OT">
    <link rel="stylesheet" href="@{'/public/stylesheets/screen.css'}" type="text/css" media="screen, projection">
    <link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
    <script src="@{'/public/javascripts/mootools-core.js'}" type="text/javascript" charset="UTF-8"></script>
    <script src="@{'/public/javascripts/mootools-more.js'}" type="text/javascript" charset="UTF-8"></script>
    <script src="@{'/public/javascripts/raphael-min.js'}" type="text/javascript" charset="UTF-8"></script>
    <script src="@{'/public/javascripts/kanban.js'}" type="text/javascript" charset="UTF-8"></script>
    <script src="@{'/public/javascripts/simple-modal.js'}" type="text/javascript" charset="UTF-8"></script>
    <script src="@{'/public/javascripts/mooml.js'}" type="text/javascript" charset="UTF-8"></script>

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    #{doLayout /}
  </body>
</html>

