<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>teamT</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="@{'/public/stylesheets/bootstrap.css'}" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="@{'/public/stylesheets/main.css'}" type="text/css" media="screen, projection">
  </head>
  <body>


    <script src="@{'/public/javascripts/built.js'}" type="text/javascript" charset="UTF-8"></script>
  </body>
</html>

